<html>
<head>
    <meta charset="utf-8">
    <style>
        * {
            box-sizing: border-box;
        }
        html, body {
            width: 100%;
            height: 100%;
            border: 0;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body style="padding: 10px;">
    <div id="app" style="position: relative; height: 100%; padding-top: 30px; padding-bottom: 60px;">
        <!-- ШАПКА -->
        <section v-show="page.name === 'reports' && page.header" style="height: 30px; position: absolute; top: 0; width: 100%; padding: 0 10px;
                display: flex; white-space: nowrap; align-items: baseline; justify-content: space-between;">
            <div @click="goInvite" style="width: 20px; height: 20px; background-image: url('img/add-user.svg'); background-repeat: no-repeat; background-position: center center; background-size: cover; cursor: pointer;">&nbsp;</div>
            <div v-if="!user" @click="goLogin" style="text-align: right; cursor: pointer;">
                <div style="font-size: 14px; font-weight: 500;">Войти</div>
                <div style="width: 80%; margin-left: 20%; height: 3px; background: #2FA6F8; margin-top: 2px;">&nbsp;</div>
            </div>
            <div v-if="user" @click="goProfile" style="text-align: right; cursor: pointer;">
                <div v-text="' ' + user.displayName" style="font-size: 14px; font-weight: 500;"></div>
                <div style="width: 80%; margin-left: 20%; height: 3px; background: #2FA6F8; margin-top: 2px;">&nbsp;</div>
            </div>
        </section>
        <!-- СПИСОК ОТЗЫВОВ -->
        <section v-show="page.name === 'reports' && page.reports" style="height: 100%; overflow-y: auto; position: relative; border-top: 1px solid #f8f8f8;; border-bottom: 1px solid #f8f8f8; padding-bottom: 40px; margin-left: -10px; margin-right: -10px; padding-left: 10px; padding-right: 10px;">
            <template v-for="(report, index) in reportsWithMessages">
                <div>
                    <div style="display: flex; white-space: nowrap; align-items: baseline; padding-left: 20px;">
                        <div v-text="report.author" style="font-size: 16px; width: 120px;"></div>
                        <div v-text="report.date" style="font-size: 10px; width: 60px; color: #aaa;"></div>
                        <div v-text="report.mark" :style="{color: report.markColor}" style="font-size: 12px; width: 30px; font-weight: bold;">+5</div>
                    </div>
                    <div v-text="report.message" style="background: #2FA6F8; display: inline-block; padding: 8px 20px 10px 20px; border-radius: 20px; color: #fff; font-size: 16px; margin: 5px 0;"></div>
                </div>
            </template>
        </section>
        <!-- ФУТЕР -->
        <section v-show="page.name === 'reports' && page.footer" style="height: 60px; position: absolute; bottom: 0; width: 100%; padding: 10px 100px;">
            <div @click="onLeaveReportClick" style="border-bottom: 1px solid #888; color: #888; text-align: center; padding: 5px; font-size: 16px; cursor: pointer;">
                Оставить отзыв
            </div>
        </section>
        <!-- ФОРМА ОТПРАВКИ ОТЗЫВА -->
        <section v-show="page.name === 'reports' && page.send" style="height: 100px; position: absolute; bottom: 0; width: 100%;">
            <div style="position: relative;">
                <input type="text" v-model="url" readonly style="width: 100%; color: #aaa; border: 0; " />
                <textarea v-model="message" 
                :readonly="reportSendingStage !== 0"
                placeholder="Отзыв о странице..." 
                style="width: 100%; height: 60px; resize: none; outline: 0;"
                :style="{opacity: (reportSendingStage === 0 ? 1 : 0.5)}"></textarea>
            </div>
            <div v-if="reportSendingStage === 0" style="position: relative; height: 20px;">
                <button @click="sendReport(1)" style="position: absolute; top: 0; left: 0; width: 8%; height: 20px;">1</button>
                <button @click="sendReport(2)" style="position: absolute; top: 0; left: 8%; width:8%; height: 20px;">2</button>
                <button @click="sendReport(3)" style="position: absolute; top: 0; left: 16%; width: 8%; height: 20px;">3</button>
                <button @click="sendReport(4)" style="position: absolute; top: 0; left: 24%; width: 8%; height: 20px;">4</button>
                <button @click="sendReport(5)" style="position: absolute; top: 0; left: 32%; width: 8%; height: 20px;">5</button>
                <button @click="sendReport(null)" style="position: absolute; top: 0; left: 40%; width: 20%; height: 20px;" title="Нейтрально">?</button>
                <button @click="sendReport(6)" style="position: absolute; top: 0; left: 60%; width: 8%; height: 20px;">6</button>
                <button @click="sendReport(7)" style="position: absolute; top: 0; left: 68%; width: 8%; height: 20px;">7</button>
                <button @click="sendReport(8)" style="position: absolute; top: 0; left: 76%; width: 8%; height: 20px;">8</button>
                <button @click="sendReport(9)" style="position: absolute; top: 0; left: 84%; width: 8%; height: 20px;">9</button>
                <button @click="sendReport(10)" style="position: absolute; top: 0; left: 92%; width: 8%; height: 20px;">10</button>
            </div>
            <div v-if="reportSendingStage === 1" style="position: relative; height: 20px; text-align: center;">
                Отправка...
            </div>
            <div v-if="reportSendingStage === 2" style="position: relative; height: 20px; text-align: center; color: #aaa;">
                Отправлено
            </div>
        </section>
        <!-- ФОРМА ЛОГИНА -->
        <section v-show="page.name === 'login'" style="height: 100%; display: flex; flex-direction: column; justify-content: center; position: relative;">
            <div @click="returnReports" style="position: absolute; top: -25px; right: 10px; width: 20px; height: 20px; background-image: url('img/close-icon.svg'); background-repeat: no-repeat; background-position: center center; background-size: cover; opacity: 0.3; cursor: pointer;">&nbsp;</div>
            <div style="text-align: center; margin: 10px auto;">
                <div style="font-size: 24px; font-weight: 500;">Войти</div>
                <div style="width: 100%; height: 3px; background: #2FA6F8; margin-top: 2px;">&nbsp;</div>
            </div>
            <div style="display: flex; justify-content: center; margin: 40px auto;">
                <div style="width: 25px; height: 25px; margin: 0 10px; background: #2FA6F8; border-radius: 5px; color: #fff; font-size: 16px; font-weight: bold; cursor: pointer; text-align: center;">vk</div>
                <div style="width: 25px; height: 25px; margin: 0 10px; background: #2FA6F8; border-radius: 5px; color: #fff; font-size: 16px; font-weight: bold; cursor: pointer; text-align: center;">fb</div>
                <div style="width: 25px; height: 25px; margin: 0 10px; background: #2FA6F8; border-radius: 5px; color: #fff; font-size: 16px; font-weight: bold; cursor: pointer; text-align: center;">g+</div>
                <div style="width: 25px; height: 25px; margin: 0 10px; background: #2FA6F8; border-radius: 5px; color: #fff; font-size: 16px; font-weight: bold; cursor: pointer; text-align: center;">@</div>
            </div>
            <form @submit.prevent="onLoginSubmit" style="width: 100%; margin-bottom: 50px; display: flex; flex-direction: column; justify-content: center;">
                <input v-model="loginForm.displayName" type="text" placeholder="Введите имя" style="color: #888; border: 0; border-bottom: 1px solid #888; text-align: center; width: 60%; margin: 10px auto; padding: 5px 10px; font-size: 16px; outline: 0;" />
                <input v-model="loginForm.inviteCode" type="text" placeholder="Введите инвайт-код" style="color: #888; border: 0; border-bottom: 1px solid #888; text-align: center; width: 60%; margin: 10px auto; padding: 5px 10px; font-size: 16px; outline: 0;" />
                <div v-text="loginForm.error" style="width: 80%; margin: 0 auto; color: #f00; font-size: 12px; text-align: center;"></div>
                <button type="submit" style="background: #2FA6F8; border-radius: 5px; color: #fff; width: 60%; margin: 15px auto; padding: 5px 10px; font-size: 16px; border: 0; outline: 0; cursor: pointer;">Войти</button>
            </form>
            <!--div @click="goAbout" style="position: absolute; bottom: 0; left: 0; right: 0; font-weight: bold; text-align: center; opacity: 0.5; cursor: pointer;">
                <span style="color: #f00;">бро</span>тзывы - отзывы для своих
            </div-->
        </section>
        <!-- ФОРМА ПРИГЛАШЕНИЯ -->
        <section v-show="page.name === 'invite'" style="height: 100%; display: flex; flex-direction: column; justify-content: center; position: relative;">
            <div @click="returnReports" style="position: absolute; top: -25px; right: 10px; width: 20px; height: 20px; background-image: url('img/close-icon.svg'); background-repeat: no-repeat; background-position: center center; background-size: cover; opacity: 0.3; cursor: pointer;">&nbsp;</div>
            <input type="text" value="KJHGghgj" style="color: #2FA6F8; border: 0; border-bottom: 1px solid #aaa; text-align: center; width: 80%; margin: 10px auto; padding: 10px; font-size: 30px; outline: none;" />
            <div style="width: 70%; margin: 10px auto; text-align: center; color: #888;">
                Скопируй инвайт-код и отправь самым верным друзьям. Никогда не публикуй код в открытом доступе, чтобы к нам не пришли спамеры. Код действует 3 дня с момента создания
            </div>
        </section>
        <!-- ПРОФИЛЬ ПОЛЬЗОВАТЕЛЯ -->
        <section v-show="page.name === 'me'" style="height: 100%; display: flex; flex-direction: column; justify-content: center; position: relative;">
            <div @click="returnReports" style="position: absolute; top: -25px; right: 10px; width: 20px; height: 20px; background-image: url('img/close-icon.svg'); background-repeat: no-repeat; background-position: center center; background-size: cover; opacity: 0.3; cursor: pointer;">&nbsp;</div>
            <div style="text-align: center; margin: 10px auto;">
                <div style="font-size: 24px; font-weight: 500;">Настройки</div>
                <div style="width: 100%; height: 3px; background: #2FA6F8; margin-top: 2px;">&nbsp;</div>
            </div>
            <div style="display: flex; justify-content: center; margin: 40px auto;">
                <div style="width: 25px; height: 25px; margin: 0 10px; background: #2FA6F8; border-radius: 5px; color: #fff; font-size: 16px; font-weight: bold; cursor: pointer; text-align: center;">vk</div>
                <div style="width: 25px; height: 25px; margin: 0 10px; background: #2FA6F8; border-radius: 5px; color: #fff; font-size: 16px; font-weight: bold; cursor: pointer; text-align: center;">fb</div>
                <div style="width: 25px; height: 25px; margin: 0 10px; background: #2FA6F8; border-radius: 5px; color: #fff; font-size: 16px; font-weight: bold; cursor: pointer; text-align: center;">g+</div>
                <div style="width: 25px; height: 25px; margin: 0 10px; background: #2FA6F8; border-radius: 5px; color: #fff; font-size: 16px; font-weight: bold; cursor: pointer; text-align: center;">@</div>
            </div>
            <input type="text" value="KJHGghgj" style="color: #2FA6F8; border: 0; border-bottom: 1px solid #aaa; text-align: center; width: 80%; margin: 10px auto; padding: 10px; font-size: 24px; outline: none;" />
            <div style="width: 70%; margin: 10px auto; text-align: center; color: #888;">
                Скопируй инвайт-код и отправь самым верным друзьям. Никогда не публикуй код в открытом доступе, чтобы к нам не пришли спамеры. Код действует 3 дня с момента создания
            </div>
            <button @click="singOut" style="background: #2FA6F8; border-radius: 5px; color: #fff; width: 60%; margin: 50px auto 0; padding: 5px 10px; font-size: 16px; border: 0; outline: 0; cursor: pointer;">Разлогиниться</button>
        </section>
    </div>
    <script src="../lib/vue.js"></script>
    <script src="./index.js"></script>
</body>
</html>